PORT=
MONGODB_URI=
JWT_SECRET=
API_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
FRONTEND_URL=

# Almacenamiento de fotos
UPLOAD_DIR=
MAX_FILE_SIZE=
ALLOWED_MIME_TYPES=
THUMBNAIL_WIDTH=
THUMBNAIL_HEIGHT=