.input-group {
  display: flex;
  flex-direction: column;
}

input {
  border: 2px solid var(--color-text-primary);
  color: var(--color-text-primary);
  background-color: var(--color-primary-bg);
  transition: border-color 0.2s ease;

  &:hover {
    background-color: var(--color-btn-other-hover);
  }
  &:focus {
    background-color: var(--color-btn-other-active);
  }
}
