<div class="search-wrapper">
  <form role="search" class="flex-grow-1" (submit)="$event.preventDefault()">
    <div class="search-container">
      <i class="bi bi-search search-icon"></i>

      <input
        class="search-input"
        type="text"
        [placeholder]="placeholder"
        name="search"
        aria-label="Escribir búsqueda"
        autocomplete="off"
        [(ngModel)]="searchText"
        (ngModelChange)="onChange($event)"
      />
      <button
        *ngIf="searchText"
        type="button"
        class="btn-clear"
        aria-label="Borrar texto"
        (click)="onClear()"
      >
        <i class="bi bi-x"></i>
      </button>
    </div>
  </form>

  <button
    *ngIf="showFilter"
    type="button"
    class="btn-filter"
    aria-label="Abrir filtros"
    (click)="toggle.emit()"
  >
    <i class="bi bi-sliders"></i>
  </button>
</div>
